.footer{
    background-color: #00a62a;
    color: white;
    height: 35px;
    bottom: 0px !important;
    display: flex;
    position: fixed; 
    bottom: 0;
    width: 100%;
    justify-content: center;
    padding-top: 20px !important;
    font-size: 14px;
}

  .nav-left-bar{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:50px;
  }
  
  .nav-button{
    cursor: pointer;
  }
  
  